<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput #input placeholder="City">
  </mat-form-field>
</form>

<div class="example-button-row">
  <button (click)='getWeather(input.value)' mat-button>Basic</button>
</div>

<div class='result'>
  City: {{newCity.name}} <br>
  Weather: {{newCity.weather[0].main}} <br>
  Temperature: {{newCity.main.temp}} <br>
  Feels Like: {{newCity.main.feels_like}} <br>
  Min Temperature: {{newCity.main.temp_min}}<br>
  Max Temperature: {{newCity.main.temp_max}}<br>
  Pressure: {{newCity.main.pressure}}<br>
  Humidity: {{newCity.main.humidity}}<br>
  Wind Speed: {{newCity.wind.speed}}<br>

</div>